# Ignore local config with sensitive data, to use config duplicate sample_config.yml and rename to config.yml
config.yml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build